{% extends 'base.html' %}

{% block title %}
    kalit soz esingizdan chiqdimi
{% endblock %}

{% block content %}
<div class="card bg-dark text-white">
    <img src="/static/photo2.jpg" class="card-img" alt="">
    <div class="card-img-overlay">
        <h2>
            Kalit so'zni unutdingizmi?
        </h2>
        <p>
            Email manzilingizni kiriting
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Kiritish</button>
        </form>

    </div>
</div>

{% endblock content %}